html, body, .container {
    height: 100%;
    background-color: #404040;
}

.container {
    display: table;
    vertical-align: middle;
}

.vcenter {
    display: table-cell;
    vertical-align: middle;
}

.leftmargin {
    margin-left: 20px;
}

.rightmargin {
    margin-right: 20px;
}

.mainpanel {
    background-color: #D64541;
    height: 450px;
}

.pointer {
    cursor: pointer;
}

.table-striped > tbody > tr:nth-child(2n) > td, .table-striped > tbody > tr:nth-child(2n) > th {
    background-color: #e74c3c;
}