<!DOCTYPE html>

<html>
<head>
    <title>{% block title %}Terrorism Search{% endblock %}</title>
    <link href="/static/css/bootstrap.min.css" rel="stylesheet">
    <link href="/static/css/mcss.css" rel="stylesheet">
    <script src="/static/js/jquery-2.1.1.min.js"></script>
    <script src="/static/js/bootstrap.min.js"></script>
    <link href="http://fonts.googleapis.com/css?family=Open+Sans:400,600" rel="stylesheet" type='text/css'>
    {% block header %}{% endblock %}
</head>
<body>
{% block container %}{% endblock %}
</body>
</html>