{% extends 'base.html' %}
{% block title %}Search: {{ query }}{% endblock %}
{% block container %}
    <script>
        $(document).ready(function ($) {
            $(".clickableRow").click(function () {
                window.document.location = $(this).attr("href");
            });
        });
    </script>

    <nav class="navbar navbar-default" role="navigation">
        <ul class="nav navbar-nav navbar-left" style="margin-left: 5px">
            <form action="/search/" method="get" class="navbar-form" role="search">
                <div class="input-group">
                    <input name="query" type="text" class="form-control" style="width: 500px"
                           placeholder="Search name / place / date / etc" value="{{ query }}">

                    <div class="input-group-btn">
                        <button class="btn btn-default" type="submit"><i class="glyphicon glyphicon-search"></i>
                        </button>
                    </div>
                </div>
            </form>
        </ul>
    </nav>
    <h2 class="page-header" style="color: #ecf0f1; margin-left: 10px;">Search result for {{ query }}</h2>
    <div class="table-responsive leftmargin rightmargin">
        <table class="table table-striped">
            <thead>
            <tr>
                <th><FONT COLOR="#ffffff">Date: YYYY/MM/DD</FONT></th>
                <th><FONT COLOR="#ffffff">Country</FONT></th>
                <th><FONT COLOR="#ffffff">City</FONT></th>
                <th><FONT COLOR="#ffffff">Attack Type</FONT></th>
            </tr>
            </thead>
            <tbody>
            {% for row in data %}
                <tr class="clickableRow pointer" href="/{{ row.0 }}">
                    <td> {{ row.1 }}/{{ row.2 }}/{{ row.3 }} </td>
                    <td> {{ row.8 }} </td>
                    <td> {{ row.12 }} </td>
                    <td> {{ row.28 }} </td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
        <ul class="pager">
            <li>
                {% if page == 1 %}
                    <a>Back</a>
                {% else %}
                    <a href="/search/{{ page|add:"-1" }}/?query={{ query }}">Back</a>
                {% endif %}
            </li>
            <li>
                <a>{{ page }}</a>
            </li>
            <li>
                {% if page == 100 %}
                    <a>Next</a>
                {% else %}
                    <a href="/search/{{ page|add:"1" }}/?query={{ query }}">Next</a>
                {% endif %}
            </li>
        </ul>
    </div>
{% endblock %}